.root {
  max-width: 100%;
  margin-left: 215px;
  margin-top: 95px;
  margin-bottom: 215px;
}

.swiperWrapper {
  max-width: 100%;
}

.slide {
  max-width: 398px;
}

.title {
  color: #ffffff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
  max-width: 100%;
}

.img {
  border-radius: 20px;
}

.link {
  text-decoration: none;
}

.link:hover .img {
  outline: 5px solid purple;
  transform: scale(0.98);
}

.movieTitle {
  color: #ffffff;
  text-decoration: none;
  margin-top: 20px;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.rating {
  position: absolute;
  top: 28px;
  left: 28px;
  width: 75px;
  height: 48px;
  background: var(--Gradient-Accent, linear-gradient(90deg, #6a11cb 0%, #2575fc 100%));
  color: #ffffff;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  border-radius: 12px;
  text-align: center;
}
