.root {
  position: relative;
}

.img {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
}

.container {
  padding: 90px 0 0 215px;
  z-index: 1;
  position: relative;
  width: 935px;
}

.title {
  color: #ffffff;
  font-size: 90px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

.infoList {
  margin: 32px 0 20px;
  display: flex;
  gap: 32px;
  height: 48px;
  align-items: center;
}

.infoList .infoItem:first-child {
  display: flex;
  width: 75px;
  height: 48px;

 
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--main-white-20, rgba(255, 255, 255, 0.2));
}

.infoText {
  color: #ffffff;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description {
  color: #ffffff;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.buttonsWrapper {
  display: flex;
  gap: 16px;
  margin: 112px 0;
}

.button {
  font-family: 'TT Norms Pro';
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 200px;
  height: 80px;
  padding: 24px 32px;
  color: #ffffff;
  border-radius: 16px;

  background: var(
    --gradient-white-50,
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.13) 50%,
      rgba(255, 255, 255, 0.1) 100%
    )
  );

  text-decoration: none;
  text-align: center;
}

.button:first-of-type {
  background: var(--Gradient-Accent, linear-gradient(90deg, #6a11cb 0%, #2575fc 100%));
}

.button:hover {
  opacity: 0.7;
}

.buttonMin {
  width: 96px;
}
