.root {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 215px;
  max-width: 1640px;
}

.title {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.description {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.info {
  color: #4b4b4b;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container {
    display: flex;
    gap: 20px;
}
